In [1]:
import numpy as np
import pandas as pd

In [2]:
APP165 = pd.read_csv('APP0165.csv', delimiter = ',')
river = pd.read_csv('river_level.csv', delimiter = ',')

In [3]:
APP165

              date         time   level    temp
0       19/09/2016  02:10:00 PM  0.7100  12.185
1       19/09/2016  02:20:00 PM  0.7163  12.151
2       19/09/2016  02:30:00 PM  0.7237  12.134
3       19/09/2016  02:40:00 PM  0.7303  12.126
4       19/09/2016  02:50:00 PM  0.7365  12.107
5       19/09/2016  03:00:00 PM  0.7422  12.041
6       19/09/2016  03:10:00 PM  0.7480  11.962
7       19/09/2016  03:20:00 PM  0.7537  11.974
8       19/09/2016  03:30:00 PM  0.7578  12.012
9       19/09/2016  03:40:00 PM  0.7596  12.142
10      19/09/2016  03:50:00 PM  0.7589  12.158
11      19/09/2016  04:00:00 PM  0.7558  12.093
12      19/09/2016  04:10:00 PM  0.7529  12.062
13      19/09/2016  04:20:00 PM  0.7467  12.160
14      19/09/2016  04:30:00 PM  0.7396  12.169
15      19/09/2016  04:40:00 PM  0.7321  12.062
16      19/09/2016  04:50:00 PM  0.7220  12.124
17      19/09/2016  05:00:00 PM  0.7119  12.053
18      19/09/2016  05:10:00 PM  0.7001  12.218
19      19/09/2016  05:20:00 PM  0.6869  12.043
20      19/09/2016  05:30:00 PM  0.6717  12.138
21      19/09/2016  05:40:00 PM  0.6559  12.096
22      19/09/2016  05:50:00 PM  0.6397  12.254
23      19/09/2016  06:00:00 PM  0.6222  12.090
24      19/09/2016  06:10:00 PM  0.6031  12.229
25      19/09/2016  06:20:00 PM  0.5836  12.185
26      19/09/2016  06:30:00 PM  0.5643  12.140
27      19/09/2016  06:40:00 PM  0.5444  12.100
28      19/09/2016  06:50:00 PM  0.5234  12.270
29      19/09/2016  07:00:00 PM  0.5029  12.252
...            ...          ...     ...     ...
110980  30/10/2018  08:00:00 AM  0.6587  12.306
110981  30/10/2018  08:10:00 AM  0.6447  12.307
110982  30/10/2018  08:20:00 AM  0.6301  12.464
110983  30/10/2018  08:30:00 AM  0.6135  12.477
110984  30/10/2018  08:40:00 AM  0.5958  12.479
110985  30/10/2018  08:50:00 AM  0.5786  12.508
110986  30/10/2018  09:00:00 AM  0.5581  12.523
110987  30/10/2018  09:10:00 AM  0.5384  12.506
110988  30/10/2018  09:20:00 AM  0.5194  12.502
110989  30/10/2018  09:30:00 AM  0.4996  12.466
110990  30/10/2018  09:40:00 AM  0.4794  12.487
110991  30/10/2018  09:50:00 AM  0.4583  12.475
110992  30/10/2018  10:00:00 AM  0.4382  12.458
110993  30/10/2018  10:10:00 AM  0.4198  12.439
110994  30/10/2018  10:20:00 AM  0.4003  12.457
110995  30/10/2018  10:30:00 AM  0.3827  12.460
110996  30/10/2018  10:40:00 AM  0.3670  12.480
110997  30/10/2018  10:50:00 AM  0.3557  12.499
110998  30/10/2018  11:00:00 AM  0.3467  12.523
110999  30/10/2018  11:10:00 AM  0.3384  12.495
111000  30/10/2018  11:20:00 AM  0.3367  12.483
111001  30/10/2018  11:30:00 AM  0.3382  12.411
111002  30/10/2018  11:40:00 AM  0.3402  12.422
111003  30/10/2018  11:50:00 AM  0.3445  12.464
111004  30/10/2018  12:00:00 PM  0.3497  12.481
111005  30/10/2018  12:10:00 PM  0.3557  12.471
111006  30/10/2018  12:20:00 PM  0.3616  12.387
111007  30/10/2018  12:30:00 PM  0.3664  12.351
111008  30/10/2018  12:40:00 PM  0.3729  12.318
111009  30/10/2018  12:50:00 PM  0.3813  12.328

[111010 rows x 4 columns]

In [4]:
river

                  date_time  level
0        1/01/2016 00:15:00  0.639
1        1/01/2016 00:30:00  0.591
2        1/01/2016 00:45:00  0.542
3        1/01/2016 01:00:00  0.491
4        1/01/2016 01:15:00  0.438
5        1/01/2016 01:30:00  0.385
6        1/01/2016 01:45:00  0.334
7        1/01/2016 02:00:00  0.283
8        1/01/2016 02:15:00  0.234
9        1/01/2016 02:30:00  0.186
10       1/01/2016 02:45:00  0.142
11       1/01/2016 03:00:00  0.102
12       1/01/2016 03:15:00  0.063
13       1/01/2016 03:30:00  0.027
14       1/01/2016 03:45:00 -0.007
15       1/01/2016 04:00:00 -0.039
16       1/01/2016 04:15:00 -0.068
17       1/01/2016 04:30:00 -0.094
18       1/01/2016 04:45:00 -0.116
19       1/01/2016 05:00:00 -0.135
20       1/01/2016 05:15:00 -0.153
21       1/01/2016 05:30:00 -0.169
22       1/01/2016 05:45:00 -0.184
23       1/01/2016 06:00:00 -0.197
24       1/01/2016 06:15:00 -0.208
25       1/01/2016 06:30:00 -0.206
26       1/01/2016 06:45:00 -0.184
27       1/01/2016 07:00:00 -0.149
28       1/01/2016 07:15:00 -0.102
29       1/01/2016 07:30:00 -0.045
...                     ...    ...
126627  12/08/2019 01:00:00  0.616
126628  12/08/2019 01:15:00  0.688
126629  12/08/2019 01:30:00  0.765
126630  12/08/2019 01:45:00  0.836
126631  12/08/2019 02:00:00  0.908
126632  12/08/2019 02:15:00  0.959
126633  12/08/2019 02:30:00  1.011
126634  12/08/2019 02:45:00  1.047
126635  12/08/2019 03:00:00  1.062
126636  12/08/2019 03:15:00  1.073
126637  12/08/2019 03:30:00  1.049
126638  12/08/2019 03:45:00  1.008
126639  12/08/2019 04:00:00  0.944
126640  12/08/2019 04:15:00  0.888
126641  12/08/2019 04:30:00  0.821
126642  12/08/2019 04:45:00  0.771
126643  12/08/2019 05:00:00  0.717
126644  12/08/2019 05:15:00  0.655
126645  12/08/2019 05:30:00  0.607
126646  12/08/2019 05:45:00  0.546
126647  12/08/2019 06:00:00  0.496
126648  12/08/2019 06:15:00  0.439
126649  12/08/2019 06:30:00  0.386
126650  12/08/2019 06:45:00  0.334
126651  12/08/2019 07:00:00  0.280
126652  12/08/2019 07:15:00  0.235
126653  12/08/2019 07:30:00  0.191
126654  12/08/2019 07:45:00  0.143
126655  12/08/2019 08:00:00  0.101
126656  12/08/2019 08:15:00  0.077

[126657 rows x 2 columns]

In [27]:
# Combine date and time columns
APP165.insert(2, 'date_time', APP165['date'] + ' ' + APP165['time'])

ValueError: cannot insert date_time, already exists

In [6]:
APP165

              date         time               date_time   level    temp
0       19/09/2016  02:10:00 PM  19/09/2016 02:10:00 PM  0.7100  12.185
1       19/09/2016  02:20:00 PM  19/09/2016 02:20:00 PM  0.7163  12.151
2       19/09/2016  02:30:00 PM  19/09/2016 02:30:00 PM  0.7237  12.134
3       19/09/2016  02:40:00 PM  19/09/2016 02:40:00 PM  0.7303  12.126
4       19/09/2016  02:50:00 PM  19/09/2016 02:50:00 PM  0.7365  12.107
5       19/09/2016  03:00:00 PM  19/09/2016 03:00:00 PM  0.7422  12.041
6       19/09/2016  03:10:00 PM  19/09/2016 03:10:00 PM  0.7480  11.962
7       19/09/2016  03:20:00 PM  19/09/2016 03:20:00 PM  0.7537  11.974
8       19/09/2016  03:30:00 PM  19/09/2016 03:30:00 PM  0.7578  12.012
9       19/09/2016  03:40:00 PM  19/09/2016 03:40:00 PM  0.7596  12.142
10      19/09/2016  03:50:00 PM  19/09/2016 03:50:00 PM  0.7589  12.158
11      19/09/2016  04:00:00 PM  19/09/2016 04:00:00 PM  0.7558  12.093
12      19/09/2016  04:10:00 PM  19/09/2016 04:10:00 PM  0.7529  12.062
13      19/09/2016  04:20:00 PM  19/09/2016 04:20:00 PM  0.7467  12.160
14      19/09/2016  04:30:00 PM  19/09/2016 04:30:00 PM  0.7396  12.169
15      19/09/2016  04:40:00 PM  19/09/2016 04:40:00 PM  0.7321  12.062
16      19/09/2016  04:50:00 PM  19/09/2016 04:50:00 PM  0.7220  12.124
17      19/09/2016  05:00:00 PM  19/09/2016 05:00:00 PM  0.7119  12.053
18      19/09/2016  05:10:00 PM  19/09/2016 05:10:00 PM  0.7001  12.218
19      19/09/2016  05:20:00 PM  19/09/2016 05:20:00 PM  0.6869  12.043
20      19/09/2016  05:30:00 PM  19/09/2016 05:30:00 PM  0.6717  12.138
21      19/09/2016  05:40:00 PM  19/09/2016 05:40:00 PM  0.6559  12.096
22      19/09/2016  05:50:00 PM  19/09/2016 05:50:00 PM  0.6397  12.254
23      19/09/2016  06:00:00 PM  19/09/2016 06:00:00 PM  0.6222  12.090
24      19/09/2016  06:10:00 PM  19/09/2016 06:10:00 PM  0.6031  12.229
25      19/09/2016  06:20:00 PM  19/09/2016 06:20:00 PM  0.5836  12.185
26      19/09/2016  06:30:00 PM  19/09/2016 06:30:00 PM  0.5643  12.140
27      19/09/2016  06:40:00 PM  19/09/2016 06:40:00 PM  0.5444  12.100
28      19/09/2016  06:50:00 PM  19/09/2016 06:50:00 PM  0.5234  12.270
29      19/09/2016  07:00:00 PM  19/09/2016 07:00:00 PM  0.5029  12.252
...            ...          ...                     ...     ...     ...
110980  30/10/2018  08:00:00 AM  30/10/2018 08:00:00 AM  0.6587  12.306
110981  30/10/2018  08:10:00 AM  30/10/2018 08:10:00 AM  0.6447  12.307
110982  30/10/2018  08:20:00 AM  30/10/2018 08:20:00 AM  0.6301  12.464
110983  30/10/2018  08:30:00 AM  30/10/2018 08:30:00 AM  0.6135  12.477
110984  30/10/2018  08:40:00 AM  30/10/2018 08:40:00 AM  0.5958  12.479
110985  30/10/2018  08:50:00 AM  30/10/2018 08:50:00 AM  0.5786  12.508
110986  30/10/2018  09:00:00 AM  30/10/2018 09:00:00 AM  0.5581  12.523
110987  30/10/2018  09:10:00 AM  30/10/2018 09:10:00 AM  0.5384  12.506
110988  30/10/2018  09:20:00 AM  30/10/2018 09:20:00 AM  0.5194  12.502
110989  30/10/2018  09:30:00 AM  30/10/2018 09:30:00 AM  0.4996  12.466
110990  30/10/2018  09:40:00 AM  30/10/2018 09:40:00 AM  0.4794  12.487
110991  30/10/2018  09:50:00 AM  30/10/2018 09:50:00 AM  0.4583  12.475
110992  30/10/2018  10:00:00 AM  30/10/2018 10:00:00 AM  0.4382  12.458
110993  30/10/2018  10:10:00 AM  30/10/2018 10:10:00 AM  0.4198  12.439
110994  30/10/2018  10:20:00 AM  30/10/2018 10:20:00 AM  0.4003  12.457
110995  30/10/2018  10:30:00 AM  30/10/2018 10:30:00 AM  0.3827  12.460
110996  30/10/2018  10:40:00 AM  30/10/2018 10:40:00 AM  0.3670  12.480
110997  30/10/2018  10:50:00 AM  30/10/2018 10:50:00 AM  0.3557  12.499
110998  30/10/2018  11:00:00 AM  30/10/2018 11:00:00 AM  0.3467  12.523
110999  30/10/2018  11:10:00 AM  30/10/2018 11:10:00 AM  0.3384  12.495
111000  30/10/2018  11:20:00 AM  30/10/2018 11:20:00 AM  0.3367  12.483
111001  30/10/2018  11:30:00 AM  30/10/2018 11:30:00 AM  0.3382  12.411
111002  30/10/2018  11:40:00 AM  30/10/2018 11:40:00 AM  0.3402  12.422
111003  30/10/2018  11:50:00 AM  30/10/2018 11:50:00 AM  0.3445  12.464
111004  30/10/2018  12:00:00 PM  30/10/2018 12:00:00 PM  0.3497  12.481
111005  30/10/2018  12:10:00 PM  30/10/2018 12:10:00 PM  0.3557  12.471
111006  30/10/2018  12:20:00 PM  30/10/2018 12:20:00 PM  0.3616  12.387
111007  30/10/2018  12:30:00 PM  30/10/2018 12:30:00 PM  0.3664  12.351
111008  30/10/2018  12:40:00 PM  30/10/2018 12:40:00 PM  0.3729  12.318
111009  30/10/2018  12:50:00 PM  30/10/2018 12:50:00 PM  0.3813  12.328

[111010 rows x 5 columns]

In [7]:
from datetime import datetime

In [25]:
# Make Python recognize date_time column as datetime object
APP165['date_time']=pd.to_datetime(APP165['date_time'], format = '%d/%m/%Y %I:%M:%S %p')

In [26]:
APP165

              date         time           date_time   level    temp
0       19/09/2016  02:10:00 PM 2016-09-19 02:10:00  0.7100  12.185
1       19/09/2016  02:20:00 PM 2016-09-19 02:20:00  0.7163  12.151
2       19/09/2016  02:30:00 PM 2016-09-19 02:30:00  0.7237  12.134
3       19/09/2016  02:40:00 PM 2016-09-19 02:40:00  0.7303  12.126
4       19/09/2016  02:50:00 PM 2016-09-19 02:50:00  0.7365  12.107
5       19/09/2016  03:00:00 PM 2016-09-19 03:00:00  0.7422  12.041
6       19/09/2016  03:10:00 PM 2016-09-19 03:10:00  0.7480  11.962
7       19/09/2016  03:20:00 PM 2016-09-19 03:20:00  0.7537  11.974
8       19/09/2016  03:30:00 PM 2016-09-19 03:30:00  0.7578  12.012
9       19/09/2016  03:40:00 PM 2016-09-19 03:40:00  0.7596  12.142
10      19/09/2016  03:50:00 PM 2016-09-19 03:50:00  0.7589  12.158
11      19/09/2016  04:00:00 PM 2016-09-19 04:00:00  0.7558  12.093
12      19/09/2016  04:10:00 PM 2016-09-19 04:10:00  0.7529  12.062
13      19/09/2016  04:20:00 PM 2016-09-19 04:20:00  0.7467  12.160
14      19/09/2016  04:30:00 PM 2016-09-19 04:30:00  0.7396  12.169
15      19/09/2016  04:40:00 PM 2016-09-19 04:40:00  0.7321  12.062
16      19/09/2016  04:50:00 PM 2016-09-19 04:50:00  0.7220  12.124
17      19/09/2016  05:00:00 PM 2016-09-19 05:00:00  0.7119  12.053
18      19/09/2016  05:10:00 PM 2016-09-19 05:10:00  0.7001  12.218
19      19/09/2016  05:20:00 PM 2016-09-19 05:20:00  0.6869  12.043
20      19/09/2016  05:30:00 PM 2016-09-19 05:30:00  0.6717  12.138
21      19/09/2016  05:40:00 PM 2016-09-19 05:40:00  0.6559  12.096
22      19/09/2016  05:50:00 PM 2016-09-19 05:50:00  0.6397  12.254
23      19/09/2016  06:00:00 PM 2016-09-19 06:00:00  0.6222  12.090
24      19/09/2016  06:10:00 PM 2016-09-19 06:10:00  0.6031  12.229
25      19/09/2016  06:20:00 PM 2016-09-19 06:20:00  0.5836  12.185
26      19/09/2016  06:30:00 PM 2016-09-19 06:30:00  0.5643  12.140
27      19/09/2016  06:40:00 PM 2016-09-19 06:40:00  0.5444  12.100
28      19/09/2016  06:50:00 PM 2016-09-19 06:50:00  0.5234  12.270
29      19/09/2016  07:00:00 PM 2016-09-19 07:00:00  0.5029  12.252
...            ...          ...                 ...     ...     ...
110980  30/10/2018  08:00:00 AM 2018-10-30 08:00:00  0.6587  12.306
110981  30/10/2018  08:10:00 AM 2018-10-30 08:10:00  0.6447  12.307
110982  30/10/2018  08:20:00 AM 2018-10-30 08:20:00  0.6301  12.464
110983  30/10/2018  08:30:00 AM 2018-10-30 08:30:00  0.6135  12.477
110984  30/10/2018  08:40:00 AM 2018-10-30 08:40:00  0.5958  12.479
110985  30/10/2018  08:50:00 AM 2018-10-30 08:50:00  0.5786  12.508
110986  30/10/2018  09:00:00 AM 2018-10-30 09:00:00  0.5581  12.523
110987  30/10/2018  09:10:00 AM 2018-10-30 09:10:00  0.5384  12.506
110988  30/10/2018  09:20:00 AM 2018-10-30 09:20:00  0.5194  12.502
110989  30/10/2018  09:30:00 AM 2018-10-30 09:30:00  0.4996  12.466
110990  30/10/2018  09:40:00 AM 2018-10-30 09:40:00  0.4794  12.487
110991  30/10/2018  09:50:00 AM 2018-10-30 09:50:00  0.4583  12.475
110992  30/10/2018  10:00:00 AM 2018-10-30 10:00:00  0.4382  12.458
110993  30/10/2018  10:10:00 AM 2018-10-30 10:10:00  0.4198  12.439
110994  30/10/2018  10:20:00 AM 2018-10-30 10:20:00  0.4003  12.457
110995  30/10/2018  10:30:00 AM 2018-10-30 10:30:00  0.3827  12.460
110996  30/10/2018  10:40:00 AM 2018-10-30 10:40:00  0.3670  12.480
110997  30/10/2018  10:50:00 AM 2018-10-30 10:50:00  0.3557  12.499
110998  30/10/2018  11:00:00 AM 2018-10-30 11:00:00  0.3467  12.523
110999  30/10/2018  11:10:00 AM 2018-10-30 11:10:00  0.3384  12.495
111000  30/10/2018  11:20:00 AM 2018-10-30 11:20:00  0.3367  12.483
111001  30/10/2018  11:30:00 AM 2018-10-30 11:30:00  0.3382  12.411
111002  30/10/2018  11:40:00 AM 2018-10-30 11:40:00  0.3402  12.422
111003  30/10/2018  11:50:00 AM 2018-10-30 11:50:00  0.3445  12.464
111004  30/10/2018  12:00:00 PM 2018-10-30 12:00:00  0.3497  12.481
111005  30/10/2018  12:10:00 PM 2018-10-30 12:10:00  0.3557  12.471
111006  30/10/2018  12:20:00 PM 2018-10-30 12:20:00  0.3616  12.387
111007  30/10/2018  12:30:00 PM 2018-10-30 12:30:00  0.3664  12.351
111008  30/10/2018  12:40:00 PM 2018-10-30 12:40:00  0.3729  12.318
111009  30/10/2018  12:50:00 PM 2018-10-30 12:50:00  0.3813  12.328

[111010 rows x 5 columns]

In [21]:
APP165.sample(5)

             date         time           date_time   level    temp
3229   12/10/2016  12:20:00 AM 2016-10-12 12:20:00  0.6589  12.242
71987   1/02/2018  01:00:45 PM 2018-02-01 01:00:45  0.5442  13.520
16984  15/01/2017  12:50:00 PM 2017-01-15 12:50:00  0.5075  13.029
87600  20/05/2018  11:20:00 PM 2018-05-20 11:20:00  0.2820  14.234
92011  20/06/2018  02:30:00 PM 2018-06-20 02:30:00  0.4712  13.646

In [22]:
# randomly check if date_time AM/PM is recognized correctly
random = APP165.iloc[67398]['date_time']
random

Timestamp('2017-12-31 04:10:45')

In [24]:
print(random.strftime("%d/%m/%Y %I:%M:%S %p"))

31/12/2017 04:10:45 AM

In [18]:
# Result: incorrect

In [ ]:
# Make Python recognize date_time column as datetime object

APP165['date_time']=pd.to_datetime(APP165['date_time'], format = '%d/%m/%Y %I:%M:%S %p')